#home {
    color: #E0626A !important;
}

img.round_img {
    width:400px;
    max-width: 40vw;
    border-radius: 15px 15px 15px 15px;
    box-shadow:20px 20px 50px -10px rgba(50, 50, 50, 0.5);
    margin: auto;
    margin-bottom: 20px;
    display: block;
}







