#home {
    color: #E0626A !important;
}

.center {
    display: flex;
    justify-content: center;
  }

img.round_img {
    width:400px;
    max-width: 40vw;
    border-radius: 15px 15px 15px 15px;
    box-shadow:20px 20px 50px -10px rgba(50, 50, 50, 0.5);
    margin: auto;
    margin-bottom: 20px;
    display: block;
}

.button {
    background-color: #E0626A;
    border: none;
    border-radius: 5px 5px 5px 5px;
    box-shadow:20px 20px 50px -10px rgba(50, 50, 50, 0.5);
    color: #f1f1f1;
    font-family: "Montserrat", sans-serif;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: max(min(1.5vw, 15px), 12px) !important;
    margin: 15px;
    margin-bottom: 100px;
}

.button:hover {
    background-color: #EE7E6E;
    color: #f1f1f1;
    text-decoration: none;
    box-shadow:10px 10px 25px -10px rgba(50, 50, 50, 0.5);
}





