#projects {
    color: #E0626A !important;
}

.project_card {
    border-radius: 15px 15px 15px 15px;
    box-shadow:20px 20px 50px -10px rgba(0,0,0,.5);
    max-width: 800px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    align-self: center;
    padding: 15px;
    background-color: rgb(224, 232, 238) !important; 
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

.demo {
    margin: auto;
    display: block;
}

.vertical {
    width: 33.33%;
}

.horizontal {
    width: 80%;
}