#projects {
    color: #E0626A !important;
}

.project_card {
    border-radius: 15px 15px 15px 15px;
    box-shadow:10px 10px 10px -10px rgba(50, 50, 50, 0.5);
    max-width: 800px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    align-self: center;
    padding: 15px;
    background-color: rgb(224, 232, 238) !important; 
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.img-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img-column {
    flex: 33.3%;
    padding: 5px;
    max-width: 300px;
  }

.demo {
    margin: auto;
    display: block;
}

.vertical {
    width: 33.3%;
}

.horizontal {
    width: 80%;
}