/* ALLGEMEIN */ 

/* Schrift */
p {
    font-family: "Montserrat", sans-serif;
    color: black;
}

h1  {
    right: 2%;
    font-size: 2em !important;
    color: black;
    font-family: "Montserrat", sans-serif;
    position: fixed;
}

p.centered {
    text-align: center;
}

p.no_margin {
    margin: 0;
}

p.bold {
    font-weight: bold;
    margin-bottom: 0 !important;
}

p.txt_big {
    font-size: 8vw !important;
}

p.txt_medium {
    font-size: 2.5vw !important;
}

p.txt_small {
    font-size: 1.5vw !important;
}

p.txt_subtitle {
    font-size: 1.3vw !important;
    color: grey;
}


.container {
    min-width: 100% !important;
    min-height: 100vh;
    background-color: rgb(224, 232, 238);
    padding-bottom: 15px;
}

.clear_nav_bar {
    height: 105px;
}

div#content {
    width: 100%;
    height: 100%;
}

#wip {
    width: 60%;
    margin: auto;
    display: block;
}
    
/* Navbar */
    nav.navbar {
        background-color: rgb(224, 232, 238) !important;
        font-family: "Montserrat", sans-serif;
        box-shadow:20px 20px 50px -10px rgba(0,0,0,.5);
        position: fixed; 
        width: 100%;
        height: 70px;
    }

    .nav-link {
        color:black !important;
        padding-right: 1.5em !important;
    }
    .nav-link:hover {
        color:rgb(180, 180, 180) !important;
    }

    /*Button*/
    .btn {
        background-color: black !important;
        border: gray !important;
    }

    .btn:hover {
        opacity: 0.5;
    }

    img#logo {
        width: 80px;
    }

    text:hover {
        cursor: default;
    }
